.timeline {
  list-style: none;
  padding: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #ccc;
  transform: translateX(-50%);
}

.timeline-item-content {
  position: relative;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: cornsilk;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-item-year {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-item-event {
  font-size: 16px;
  color: #333;
}

body{
  background-color: darksalmon;
  text-align: center;
}
h1{
  background-color: aliceblue;
  size: 18px;
}

